.single-board-game {
    margin: 25px 50px;
    min-width: 100px;
}

.single-board-game-card-header {
    display: flex;
    justify-content: center;
}

::ng-deep .mat-card-header-text {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}


::ng-deep .mat-chip-list-wrapper {
    justify-content: center;
}